<launch>
  <!-- Don't invoke this by hand - it's used by other launch files -->
  
  <!-- INPUT ARGUMENTS -->
  <!-- Whether to use the aruco stuff -->
  <arg name="use_aruco" default="false"/>
  <!-- File containing object locations, if not using aruco -->
  <arg name="obj_location_file" default="$(find hrc_discrim_learning)/train/object_locations.json"/>
  <!-- File containing object id-feature mappings -->
  <arg name="obj_mapping_file" default="$(find hrc_discrim_learning)/train/perceptual_mapping.json"/>
  <!-- Whether to save the model trained this session -->
  <arg name="save_model" default="false"/>
  <!-- If save_model = True, folder in which to save model -->
  <arg name="save_dest" default="$(find hrc_discrim_learning)/tests"/>

  <!-- ROS PARAMETERS -->
  <param name="hrc_discrim_learning/use_aruco"          value="$(arg use_aruco)"/>
  <param name="hrc_discrim_learning/obj_location_file"  value="$(arg obj_location_file)"/>
  <param name="hrc_discrim_learning/obj_mapping_file"   value="$(arg obj_mapping_file)"/>

  <param name="hrc_discrim_learning/save_model"         value="$(arg save_model)"/>
  <param name="hrc_discrim_learning/save_dest"          value="$(arg save_dest)"/>

  <!-- LAUNCH -->
  <group if="$(arg use_aruco)">
    <include file="$(find hrc_discrim_learning)/launch/basic_aruco.launch"/>
  </group>

</launch>
