<launch>
  <!-- INPUT ARGUMENTS  -->
  <!-- Whether to use pre-saved train utterance data for this session or not-->
  <arg name="use_auto_train" default="true"/>
  <!-- Whether to use the aruco stuff or not -->
  <arg name="use_aruco" default="true"/>
  <!-- Json file to draw id-location mappings if aruco is not used -->
  <arg name="obj_mapping_file" default="$(find hrc_discrim_learning)/train/objects.json"/>
  <!-- Whether to save corpus data from this session -->
  <arg name="save_train_data" default="false"/>
  <!-- File destination for saving/loading corpus data as csv -->
  <arg name="corpus_file" default="$(find hrc_discrim_learning)/train/corpus.csv"/>
  <!-- Mode for training spatial models this session: May be set to "new", "aggregate" or "off" -->
  <arg name="train_spatial" default="new"/>
  <!-- Whether to save model from this session -->
  <arg name="save_spatial" default="false"/>
  <!-- File destination for saving trained spatial models -->
  <arg name="model_dest_spatial" default="$(find hrc_discrim_learning)/model/spatial_regressors"/>

  <!-- ROS PARAMETERS -->
  <param name="hrc_discrim_learning/use_aruco"            value="$(arg use_aruco)"/>
  <param name="hrc_discrim_learning/obj_mapping_file"     value="$(arg obj_mapping_file)"/>
  <!-- <param name="hrc_discrim_learning/use_auto_train"       value="$(arg use_auto_train)"/> -->
  <param name="hrc_discrim_learning/save_train_data"      value="$(arg save_train_data)"/>
  <param name="hrc_discrim_learning/corpus_file"          value="$(arg corpus_file)"/>
  <param name="hrc_discrim_learning/train_spatial"        value="$(arg train_spatial)"/>
  <param name="hrc_discrim_learning/save_spatial"         value="$(arg save_spatial)"/>
  <param name="hrc_discrim_learning/model_dest_spatial"   value="$(arg model_dest_spatial)"/>


  <!-- Object database -->
  <rosparam param="/perception/objs">
    '0': {'color': 'yellow', 'material': 'paper', 'type': 'notepad', 'size_relative': 'small'}
    '1': {'color': 'pink', 'material': 'paper', 'type': 'notepad', 'size_relative': 'small'}
    '2': {'color': 'black', 'material': 'plastic', 'type': 'tablet', 'size_relative': 'large'}
    '3': {'color': 'black', 'material': 'glass', 'type': 'tablet', 'size_relative': 'small'}
    '4': {'color': 'black', 'material': 'plastic', 'type': 'pen', 'size_relative': 'small'}
    '5': {'color': 'pink', 'material': 'plastic', 'type': 'pen', 'size_relative': 'small'}
    '6': {'color': 'blue', 'material': 'plastic', 'type': 'pen', 'size_relative': 'small'}
    '7': {'color': 'green', 'material': 'plastic', 'type': 'pen', 'size_relative': 'small'}
  </rosparam>

  <!-- ARUCO_ROS stuff -->
  <group if="$(arg use_aruco)">
    <include file="$(find hrc_discrim_learning)/launch/basic_aruco.launch"/>
  </group>

  <!-- Node to feed in training data -->
  <group if="$(arg use_auto_train)">
    <node pkg="hrc_discrim_learning" type="auto_train.py" name="scripted_training" respawn="false"/>
  </group>

  <!-- Learner node -->
  <node pkg="hrc_discrim_learning" type="trainer_spatial.py" name="train_spatial" respawn="false" output="screen"/>

</launch>
